html,body{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}



/*Header*/

.navbar-toggler-icon{
	color: white;
}

.item-menu{
	color: #044676!important;
}

.item-menu-azul{
	color: #044676!important;
}

.navbar-bg{
	background-color: #ffffff;
}
.navbar-white{
	background-color: white;
}
.justify-navbar{
	justify-content: flex-end;
}


/*Section analise e descriçao de cargo*/

.container-desc{
	height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.movimento{
	background-color: #f7f7f7;
}

.titulo-desc{
	font-size: 1.5rem;
	margin-top: 30px;
	color: #044676;
}
.texto-desc{
	padding:20px;
	text-align: justify;
}
/*.titulo-contato{
	font-size: 1.5rem;
	color: #044676;
	margin-bottom: 30px;
}

.contato-form{
	padding: 20px;
}
.div-btn-contato{
	display: flex;
	justify-content: flex-end;
}*/

.img-movimento{
	width: 100%;
}

.col-descricao-img{
	display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Seção empresa*/

.empresa{
	background-color: white;
}

/*Seção missão visão valores*/
.mvv{
	background-color: #f7f7f7;
}




/*FOOTER*/

.footer{
	background-color: #044676;
}

.link-footer{
	color: white;
	font-size: 0.9rem;
}
.link-footer:hover{
     color: lightblue; 
     text-decoration: none; 

}







/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.titulo-contato{
		margin-top: 30px;
	}
	
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	/*.descricao-e-analise{
		height: calc(100% - 100px);
	}*/
	.titulo-desc{
		font-size: 2rem;
	}
	.titulo-contato{
		font-size: 2rem;
	}
}

/*// Extra large devices (large desktops, 1200px and up)
*/@media (min-width: 1200px) {
	#imagemempresa{
		order: -1 
	}
}
